.banner {
  background-size: cover;
  background-position: center;
  padding: 222px 0;
}

.banner h1 {
  margin-bottom: 36px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h1 strong {
  font-family: "Arnold BocklinC"
}

.banner h2 {
  margin-bottom: 22px;
  font-size: 20px;
  color: white;
  // opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-banner {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #EEB76B;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-banner:hover {
  background: white;
  color: black;
  a {
    color: black;
  }
}
